.btn-fill{color:#534A3C;border:solid 2px #f5d1ca;-moz-border-radius:40px;-webkit-border-radius:40px;border-radius:40px;display:inline-block;text-transform:uppercase;background-color:#f5d1ca}
.btn-fill:hover,.btn-fill:focus{color:#E9E8E6;background-color:#B0C9D2;border-color:#B0C9D2}
.rsvp .rsvp-form .rsvp-btn{padding:15px 0;border-radius:3px;width:100%;font-size:13px}
.rsvp .rsvp-form .form-input-group{width:100%;height:55px;margin:0 auto 10px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:solid 1px #E6E9EA;text-align:left;position:relative}
.rsvp .rsvp-form .form-input-group i{color:#F5D1CA;font-size:14px}
.rsvp .rsvp-form .form-input-group i:after{content:"";height:30px;width:1px;border-right:solid 1px #E6E9EA;position:absolute;top:50%;left:30px;transform:translateY(-50%)}
.rsvp .rsvp-form .form-input-group i.fa-user,.rsvp .rsvp-form .form-input-group i.fa-users,.rsvp .rsvp-form .form-input-group i.fa-envelope,.rsvp .rsvp-form .form-input-group .fa-key{font-size:14px;position:absolute;top:50%;transform:translateY(-50%);margin-left:20px}
.rsvp .rsvp-form .form-input-group input{padding-left:68px;width:100%;height:100%;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:none}
.rsvp .rsvp-form .form-input-group input::-webkit-input-placeholder{color:#BCC1C3}
.rsvp .rsvp-form .form-input-group input:-moz-placeholder{color:#BCC1C3}
.rsvp .rsvp-form .form-input-group input::-moz-placeholder{color:#BCC1C3}
.rsvp .rsvp-form .form-input-group input:-ms-input-placeholder{color:#BCC1C3}
#rsvp-text{
  font-size: 50px;
  font-weight: 200;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
}
@media (min-width: 768px) {
  #rsvp-text {
    font-size: 75px;
    font-weight: 200;
    line-height: 75px;
    margin-bottom: 50px;
    letter-spacing: 30px;
    font-family: 'Montserrat', sans-serif;
  }
}