#map-canvas{height:500px;width:100%}
#map-content-wrapper{position:relative;margin-top:-502px;margin-bottom:150px}
#map-content{margin-top:40px;padding:50px 60px;background:#fff;-webkit-transition:opacity 0.5s, visibility 0.6s, margin-top 0.5s;transition:opacity 0.5s, visibility 0.6s, margin-top 0.5s}
#btn-show-content{padding:20px;background:#fff;cursor:pointer;display:inline-block;-webkit-transition:opacity 0.5s, visibility 0.6s, margin-top 0.5s;transition:opacity 0.5s, visibility 0.6s, margin-top 0.5s}
.toggle-map-content{opacity:0;visibility:hidden}
.pointer-events-none{pointer-events:none}
.pointer-events-auto{pointer-events:auto}
#bg-date{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
/*.floating-arrow {
    animation-name: floating-arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}*/
.down-arrow{
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    left: 50%;
}


a{color:#B0C9D2;-webkit-transition-timing-function:ease;transition-timing-function:ease;-webkit-transition-duration:200ms;transition-duration:200ms;-webkit-transition-property:color, border-color, background-color;transition-property:color, border-color, background-color}
a:hover,a:focus{color:#d3b56a;text-decoration:none}
.btn-fill{
    color: #534A3C;
    border: solid 2px #f5d1ca;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    display: inline-block;
    text-transform: uppercase;
    background-color: #f5d1ca;
}
